<div class="my-body">
  <h3>{{project}} Configuration:</h3>
<div class='two_third'>
  <div>
    <label for="ctrl_name">Base Label: <span title="The current label that is considered normal or empty."> &#9432;</span></label><br>
    <select name="ctrl_name" id="ctrl_name" class='two_third' disabled>
      {% if pro.control == 'Control' %}
        <option selected value="Control">Control</option>
      {% else %}
        <option value="Control">Control</option>
      {% endif %}
      {% if pro.control == 'Nothing' %}
        <option selected value="Nothing">Nothing</option>
      {% else %}
        <option  value="Nothing">Nothing</option>
      {% endif %}
      {% if pro.control == 'Empty' %}
        <option selected value="Empty">Empty</option>
      {% else %}
        <option  value="Empty">Empty</option>
      {% endif %}
    </select>
    <br><br><button type="button" onclick="edit_labels('control')" id="edit_control" title="Edit Control Label">Edit</button>
    <br><br>
    <label for="labels">Custom Labels: <span title="The current lables in use."> &#9432;</span></label><br>
    <input type="text" name="labels" title="labels" value="{{ pro.labels|join(',') }}" class='two_third' disabled>
    <br><br><button type="button" onclick="edit_labels('custom')" id="edit_labels" title="Edit Labels">Edit</button>
    <br><br>
    <table id="source_data" class='my-table full'>
    <thead>
      <tr>
        <th>Location</th>
        <th>Type</th>
        <th>URL</th>
        <th>&#9998;</th>
      </tr>
    </thead>
    <tbody>
    {% for source in pro.sources %}
      <tr>
        <td>{{source.location}}</td>
        <td>{{source.type}}</td>
        <td style="max-width: 60ch;"><div class="ellipsis">{{source.url}}</div></td>
        <td>
          <button style="float: right;" value='{{source.id}}' onclick="edit('{{source.id}}')">Edit</button>
          <button style="float: right;" value='{{source.id}}' onclick="verify_delete('{{source.id}}')" >Delete</button></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    <br><br><button type="button" onclick="add_source()" id="add_source" title="Add New Source">Add New</button>
</div>

</div>