<div class="my-body">
<div class='create_project full'>
  <span onclick="open_close('data_vis')"><h3 style="text-align: center;">Data Visualisations</h3></span><br>
  <div id='data_vis'>
    <div style="width: 45%; float: left; margin-left: 2vw; margin-top: 2vh;"><canvas id='by_label'></canvas></div><br>
    <div style="width: 45%; float: right; margin-left: 2vw; margin-top: 2vh;"><canvas id='by_source'></canvas></div>
  </div>
</div>
<div class='create_project full'>
  <span onclick="open_close('data_ovw')"><h3 style="text-align: center;">Data Overview</h3></span><br>
  <div id='data_ovw'>
    <table style="float:left; margin-right: 2em;" id="source_data" class='my-table two_third'>
    <thead>
      <tr>
        <th>Location</th>
        <th>Type</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
    {% for source in sources %}
      <tr>
        <td>{{source.location}}</td>
        <td>{{source.type}}</td>
        <td style="max-width: 60ch;"><div class="ellipsis">{{source.url}}</div></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>    
    <table style="float:left;" id="admin_data" class='my-table third'>
    <thead>
      <tr>
        <th></th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in data.items() %}
      <tr>
        <td>{{key}}</td>
        <td style="text-align: center;">{{value}}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
<br>
<div class='create_project full' >
  <span onclick="open_close('img_con')" style="text-align: center;"><h3>Images</h3></span>
  <div id='img_con' style="display: none;">
    <br>
    <label for="img_search">Searching in folder <span id="cur_img_dir">{{ image_dir.location }}</span>:</label>
    <input id='img_search' class='half' type="text" maxlength="50" title="Search" onkeyup="search_images()" placeholder="Search">
    <label class="checkbox-container">Select All Shown
      <input type="checkbox" name="sel_all" onchange="sel_all()">
      <span class="checkmark"></span>
    </label>
    <br><br>
    <div id='img_res' style='max-height: 641px;  overflow-y: auto; width:80%; float:left;'  onscroll="scroll_div()">
      {% for image in label_images %}
        {% if loop.index <= 30 %}
        <div onclick='select_edit(this)' oncontextmenu='full_screen(this)' value='{{image}}' class='thmb_img'>
          <img class='full' src='/img/{{image_dir.location}}/{{image}}?pro={{project}}'>
          <p>{{image}}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class='create_project' style="width:18%; float: right;">
      <h4 style="text-align: center;">Actions</h4><br>
      <button class='two_third middle_h' onclick="upload_images_form()">Upload</button>
      <br><br>      
      <button class='two_third middle_h' onclick="verify_mass_action('move')"> Move </button>
      <br><br>
      <button class='two_third middle_h' onclick="verify_mass_action('del')">Delete</button>
    </div>
    <div class='create_project' style="width:18%; float: right;">
      <h4 style="text-align: center;">Folders</h4><br>
      {% for dir in mv_dirs %}
        <button class='two_third middle_h change_folders' value='{{ dir.location }}' onclick="select_folder('{{ dir.location }}')">{{ dir.name }}</button>
        <br><br>
      {% endfor %}
    </div>    
  </div>
  
  <!--<button style="float: right;" class="dir-btn" onclick="move_elements()">Move</button>-->
</div>
<script>

const all_dirs = {{mv_dirs|tojson}}
const project = '{{project}}'
var all_images = {{label_images|tojson}}
var images = all_images;

let loading = false;
let pdiv = document.getElementById('by_label')
let obj = {{byLabelGraph | safe}}
new Chart( pdiv, config = {
          type: 'pie',
          data: obj['data'],
          options: {
            maintainAspectRatio: false,
            plugins: {
              title: {
                display: true,
                text: obj['title']
              },
              legend: { 
                 display: true,
                 position: 'right'
              },
              tooltip: {callbacks: {
                label: function (context) {
                  let label = context.label || '';
                  let value = context.raw || 0;
                  let total =
                    context.dataset.data.
                    reduce((acc, curr) => acc + curr, 0);
                    let percentage = (value / total * 100).toFixed(2) + '%';
                  return label + ': ' + value + ' (' + percentage + ')';
                }
              }}
            }
          }
          });
pdiv = document.getElementById('by_source')
obj = {{byImageGraph | safe}}
new Chart( pdiv, config = {
          type: 'pie',
          data: obj['data'],
          options: {
            maintainAspectRatio: false,
            plugins: {
              title: {
                display: true,
                text: obj['title']
              },
              legend: { 
                 display: true,
                 position: 'right'
              },
              tooltip: {
                  callbacks: {
                      label: function (context) {
                          let label = context.label || '';
                          let value = context.raw || 0;
                          let total =
                              context.dataset.data.
                              reduce((acc, curr) => acc + curr, 0);
                          let percentage = (value / total * 100).toFixed(2) + '%';
                          return label + ': ' + value + ' (' + percentage + ')';
                      }
                  }
              }
            }
          }
          });

disable_folder_button()


</script>