<div class="my-body">
    <br>
  	<form action="{{ url_for('main')}}" method="post" id="label-form">
  	  <img id="main-image" style="display: block" class="main_image" name="c_image" src="/img/{{img_dir.name}}/{{c_image}}?pro={{project}}">
      <img id="resized-image" style="margin-left: auto; margin-right: auto; display: none"  class="resized_image" name="rs_image" src="">
      <input type="text" name="project" value="{{project}}" style="display: none">
  	  <br><br>
      {% set control_groups = ['Nothing', 'Empty', 'Control'] %}
      {% for label in c_labels %}
        <label class="checkbox-container">{{label.name}}
        {% if label.name in control_groups %}
          <input type="checkbox" name="labels" onclick="return false;"/ {% if label.checked == 1 %} checked {% endif %} value={{loop.index}} >        
        {% else %}
          <input type="checkbox" name="labels"  {% if label.checked == 1 %} checked {% endif %} value={{loop.index}} >
        {% endif %}
            <span class="checkmark"></span>
        </label>
      {% endfor %}
      <br><br>
  	  <div class="btn-div">
  	    <button type="submit" formaction='/act/loadnew' value="Load New">Load New</button>
  	    <button type="submit" formaction='/act/startover' value="<<"><<</button>
  	    <button type="submit" formaction='/act/previous' value="<"><</button>
  	    <input class="dir-btn" type="text" id="fname" name="fname" style="display: none" value="{{c_image}}">
  	    <button type="submit" formaction='/act/submit' value="Submit">Submit</button>
  	    <button type="submit" formaction='/act/next' value=">">></button>
        <button type="submit" formaction='/act/next_empty' value="0>">0></button>
  	    <button type="submit" formaction='/act/nextset' value=">>">>></button>
        <button type="button" class="dir-btn" onclick="open_close('advanced')">Adv</button><br><br>
        <div id="advanced" style="display:none;">
        <button type="button" class="dir-btn" onclick="showresized()" value="Resize">Resize</button>
        <button type="submit" formaction='/errors'>&#8635;Errors</button>
        <button type="submit" formaction='/offload/backup_chickens'>&#8635;Chickens</button>
        <button type="submit" formaction='/offload/backup_nothing'>&#8635;Nothing</button>
        <button type="submit" formaction='/delete' >Delete</button>
        </div>
      </form>
  	</div>
</div>