<div class="my-body">
  <div id='project_div' class="create_project full">
  {% if projects is defined %}
    <table class='my-table full' id='project_tables'>
        <tr>
          {% for key, value in projects[0].items() %}
            <th>{{key}}</th>
          {% endfor %}
          <th>Actions</th>
        </tr>
        {% for project in projects %}
          <tr>
            {% for key, value in project.items() %}
              <td>{{value}}</td>
            {% endfor %}
            <td ><button type="button" onclick="select_proj({{ loop.index }})">Select</button></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <h4>A.M.I.T.: A Mutliclassification Image Tool</h4>
    <img src="static/AMIT.jpg" class="third" style="float: left; margin-right: 15px;">
    <p>&emsp; A.M.I.T. Will help anyone create their own image classification datasets for maching learning models. Using your own data, your model can have greater accuracy and a focus on what is important to you. Using classifcation instead of object detection <i>(little boxes over objects)</i> means checking a box when the object is in the image instead of drawing the box around each image, and selecting the object type. Easier data ingestion means you get to use AI faster! Best of all: <b>NO DATA NEED LEAVE YOUR NETWORK!</b>

    &emsp; Lets get started. Go ahead and click the "New" button below to make your first project.</p>
  </div>
  {% endif %}
  <div class='create_project half' style="display: none;">
    <div id='new_howto_0'>
      <h4>Basic Information:</h4> 
      <p>
    &emsp;The "Base Label" is the label that will be used for the images that don't contain anything that you are labeling/classifying. This could be your front yard without the cars, dogs or kids, or the garden without any squirrels or vegetables. <i>(For my first project I selected nothing. It meant the picture had no chickens, people, cats, squirrels or dogs.)</i> If you're not sure, stick with nothing.<br><br>
  
    &emsp;The labels should be distinct enough for your own purposes. If you have two goats and a cow, then naming each makes sense if you can tell them apart from the camera images, but if you have twenty horses, then having a label for each individual horse might be too difficult to track each accurately or too time consuming to select each horse for each image. Instead, you could pick ranges like '<b>1-5 horses</b>', '<b>6-10 horses</b>', '<b>11-15 horses</b>', '<b>Almost all</b>', and '<b>All</b>'.<i> (For my first project each chicken had their own label that was their name.)</i>  <br><br>
  
      &emsp;Once you have verified the basic information, you can create the first source.
      </p>
    </div>
    <div id='new_howto_1' style="display: none;">
      <h4>Sources:</h4>  
      <p id='new_howto_1'>
        &emsp;Sources are where the images are collected from. They can be RTSP streams, or a URL if you already have another   system that gets images from your cameras. The more direct method is always prefered, but not always feasible.<br><br>
        &emsp;Only once the first source has been verified can you add another. The verifcation will not save the image.
      </p>
    </div>
  </div>
  <div id='new_project_0' class='create_project half' style="display: none;">
    <form action="/project/create" method="post" id="new_project">
      <div id='new_0'>
        <h3>Basic Configuration:</h3>
        <label for="pname">Project Name:<span title="The project name can only contain alpha numaric charecters, underscores, and spaces. (a-z A-Z 0-9 _ - ) between 4 and 50 charecters."> &#9432;</span></label>
        <input type="text" id="pname" maxlength="50" name="pname" pattern="[\-_a-zA-Z0-9\s]{4,50}" oninput="enable_next('0')" title="The project name can only contain alpha numaric charecters, underscores, and spaces. (a-z A-Z 0-9 _ ) between 4 and 50 charecters.">
        <br>
        <label for="pdescr">Project Description: <span title="Description of the project."> &#9432;</span></label>   
        <input type="text" maxlength="255" name="pdescr" id="pdescr" pattern="[\-_a-zA-Z0-9,'\s]{1,255}"  oninput="enable_next('0')" title="Project Description">
        <br>
        <label for="ctrlname">Base Label: <span title="Select the word to use for label group that is onsidered normal or empty."> &#9432;</span></label>
        <select name="ctrl_name" id="ctrl_name" onchange="update_labels()">
          <option value="nothing">Nothing</option>
          <option value="control">Control</option>
          <option value="empty">Empty</option>
        </select>  
        <br>
        <label for="lname">Project Labels: <span title="A comma seperated list of label values without quotes &#013; The order can not be changed."> &#9432;</span></label>
        <input type="text" name="lnames" id="lnames" pattern="[\-a-zA-Z0-9,]+" title="Label Names" value="pets,people,etc">
        <br><br>
        <button type="button" class="dir-btn" onclick="next_new(0)" id="next_0" disabled>Next</button>
      </div>
      <div id='new_1' style="display: none;">
        <h3>Sources:</h3>
        <label class="checkbox-container">Enable
          <input type="checkbox" name="sources_enabled" onchange="remove_sources()" checked >
          <span class="checkmark"></span>
        </label>
        <div id="auto_sources">       
        <div id="sources">
          <div class="source_entry">
            <label for="slocation">Location: <span title="The location of camera."> &#9432;</span></label>
            <input type="text" name="slocation" class="source_data" title="Source Name" pattern="[a-zA-Z0-9,'\s]{1,255}"  placeholder="Facing the driveway">
            <label for="stype">Type: <span title="A standard web URL or a RTSP URL with a username and password."> &#9432;</span></label>
            <select name="stype" class="source_data">
              <option value="url">url</option>
              <option value="RTSP">RTSP</option>
            </select>
            <label for="surl">URL: <span title="The URL to access the camera."> &#9432;</span></label>
            <input type="text" name="surl" class="source_data" title="Source URL" placeholder='http://192.168.0.65/imgs/standard.jpg'>
            <br><br>
          </div>
        </div>
        <button type="button" class="source_data" onclick="check_url()" id="verify">Verify</button>
        <button type="button" onclick="add_new('source')" id="add_source">&#x002B;</button>
        </div><br>
        <button type="button" onclick="next_new(1)" id="next_1">Next</button>
        <button type="submit"  id="create" disabled>Create</button>
      </div>
    </form>
  </div>
  <button type="button" id='start_new' style="margin-top: 12px;" onclick="start_new()">New</button>
</div>